{% from "macros/sharethis.html" import render_sharethis %}
{% macro render_blog_post(post, from_index=false) %}
{% from "macros/blog-sidebar.html" import render_blog_sidebar %}
<section class="blog blog-single white-bg page-section-pt">
  <div class="container-fluid">
  <div class="row">
  <div class="col-lg-9 col-md-9">
  <div class="content">
  {{ post.body }}
  </div><!-- content -->
  <div class="row" id="nav-row">
    <div class="col-lg-6 col-md-6">
    {% set siblings = post.get_siblings() %}
    {% if siblings.prev_page %}
      <a href="{{ siblings.prev_page|url }}" title="{{ siblings.prev_page.title }}" >&laquo; Next Post</a>
    {% endif %}
    </div>
    <div class="col-lg-6 col-md-6 text-right">
    {% if siblings.next_page %}  
      <a href="{{ siblings.next_page|url }}" title="{{ siblings.next_page.title }}" >Previous Post&raquo;</a>
    {% endif %}
    </div>
  </div>
  <div>
    <hr>
    <p>Sharing in caring</p>
    {{ render_sharethis() }}
  </div>
  <div class="blog-comments">
    {{ render_disqus_comments() }}
  </div>
  </div><!-- col-lg-9 -->
  <div class="col-lg-3 col-md-3">
  {{ render_blog_sidebar(post) }}
  </div> <!-- col-lg-3 -->
  </div><!-- row -->
 </div><!-- container-fluid -->
</section>  
{% endmacro %}
