{% set image = record.attachments.get(this.image) %}

{% if this.size == 'thumbnail'%}
	{% set image_url = image.thumbnail(200, 200, crop='true') %}
{% elif this.size == 'medium' %}	
	{% set image_url = image.thumbnail(800, 600, crop='true') %}
{% elif this.size == 'large' %}	
	{% set image_url = image.thumbnail(1024, 768, crop='true') %}	
{% else %} 
	{% set image_url = image %}
{% endif%}

<figure class="img-{{this.alignment}}">
{% if this.size != 'original'%}
  <a href="{{ image|url }}" target="_blank">
{% endif%}
    <img src="{{ image_url|url }}" alt="" class = "img-responsive">
{% if this.size != 'original'%}
  </a>
{% endif%}    
       {% if this.caption %}
       <figcaption class="caption">
       {{ this.caption }}
       </figcaption>
       {% endif %}
</figure>