<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Sam Martin - Personal Vcard Resume HTML Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title> 404 Page not found - Tarique Sani</title>

<!-- Favicon -->
<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" />

<!-- bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- google font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic' rel='stylesheet' type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200italic,200,300,300italic,400italic,500,500italic,600,600italic,700italic,900italic,900,800,700,800italic' rel='stylesheet' type="text/css" />

<!-- themify icon -->
<link href="/css/themify-icons.css" rel="stylesheet" type="text/css" />

<!-- font-awesome  -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
 
<!-- main style -->
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<!-- responsive -->
<link href="/css/responsive.css" rel="stylesheet" type="text/css" />
 
</head>

<body>

 <!--=================================
  error -->

  <div class="error-bg gradient-01" style="background: url('/images/bg/road-fog-bend-foggy.jpg');">
   <div class="error">
     <div class="error-contact">
      <div class="container">
      <div class="row">
       <div class="col-md-offset-3 col-md-6 text-center">
         <h2>error</h2>
         <h1>404  </h1>
         <p>opppsss! it looks like you are lost</p>
         <div class="button">
           <a href="{{ '/' | url}}"><span class="ti-home"></span> return home</a>
         </div>
        </div>
       </div>
     </div>
     </div>
  </div>
 </div>

 <!--=================================
  error -->
</body>
</html> 