{% from "macros/sharethis.html" import render_sharethis %}
{% extends "module_layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block og_url%}{{ this|url(external=true) }}{% endblock %}
{% block og_title%}{{ this.title }}{% endblock %}
{% block og_description%}{{ this.body|striptags|truncate(255, True)  }}{% endblock %}
{% set image = this.attachments.get(this.featured_image) %}
{% block og_image%}{{ image.thumbnail(800,600,crop=true)|url(external=true) }}{% endblock %}
{% block intro %}
  {% set featured_image = this.attachments.get(this.featured_image) %}
  <div class="page-header bg gradient-01" style="background: url('{{ featured_image.thumbnail(1920,800,crop=true) | url }}')">
      <div class="container-fluid">
      <div class="row">
        <div class="top-bar clearfix">
          <div class="back-home pull-left">
            <a href="{{'/photos/'| url }}"><span class="ti-angle-left"></span> back to photos</a>
          </div>
          <ul class="breadcrumb pull-right">
            <li><a href="{{'/'| url }}"><span class="ti-home"></span> Home</a></li>
            <li><a href="{{'/photos/'| url }}"> Photos</a></li>
            <li class="active"> Album</li>        
          </ul>
        </div>
        <div class="page-header-title">
           <h1>{{ this.title }}</h1>
            <div class="blog-meta">
              <p><span class="ti-comment-alt"></span> <a href="{{ this|url(external=true) }}#disqus_thread">0</a></p>
              <p style="color: #ffffff;">
              	<span class="ti-calendar"></span>
              	{{this.pub_date.strftime('%B %d, %Y')}}
              </p>
            </div>
        </div>
       </div>
    </div>
  </div>
{% endblock%}

{% block body %}
  <section class="single-portfolio-post page-section-pt">
  <div class="container-fluid">
     <div class="row">
      <div class="col-lg-6 col-md-6 popup-album">
      <div class="grid">
          {% for image in this.attachments.images %}      
            {% if loop.index == 1 %}
              <a href="{{image|url}}" class="album-img" title="{{image.exif.description}}" ><img src="{{ image.thumbnail(800)|url}}" alt="{{image.exif.description}}" class="img-responsive thumbnail"></a>
            {% else %}
              <div class="col-lg-3 col-sm-4 col-6 thumbnail">
              <a href="{{image|url}}" title="{{image.exif.description}}" class="album-img">
              <img src="{{image.thumbnail(400)|url}}" alt="{{image.exif.description}}" class="img-responsive">
              </a>
              </div>
            {% endif %}
          {% endfor%}
      </div>          
      </div>
      <div class="col-lg-6 col-md-6 clearfix">
         <div class="port-title">
            <h2>{{ this.title }}</h2>
         </div>
          <div class="port-info">
              {{ this.body }}
           </div>
       </div>       
    </div>
  <!--=================================-->
   <div class="row">
    <div class="col-ld-12 col-md-12">
      <div class="port-post clearfix">
       <div class="port-post-photo">
          <img src="/images/my-photo.jpg" alt="">
        </div> 
        <div class="port-post-info">
          <h3 class="text-blue"><span>Posted by :</span> Tarique Sani</h3>
          <div class="port-post-social pull-right">
            <strong>Follow on:</strong>
              <a href="https://www.facebook.com/tariquesani"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/tariquesani"><i class="fa fa-twitter"></i></a>
              <a href="https://www.pinterest.com/tariquesani/"><i class="fa fa-pinterest-p"></i> </a>
              <a href="https://www.instagram.com/tariquesani/"><i class="fa fa-instagram"></i> </a>
          </div>
          <p>Dr. Tarique Sani has been clicking photographs since his early teens. Self taught in darkroom techniques of developing film and making prints, he shifted to digital cameras almost as soon as they became available in the consumer market. His first digital camera was Casio QV-100 followed by Casio QV-8000SX. He rapidly graduating to a slew of DSLRs from Nikon and then Canon. However Tarique's current favorite camera for capturing  images is an iPhone.</p>
          <p>A serious amateur wildlife photographer. His photographs appear in more than 50 journals and ornithology books across the world. Some of them are on display in various wildlife sanctuaries and museums.</p>
        </div>
      </div>
      <div>
        <hr>
        <p>Sharing in caring</p>
        {{ render_sharethis() }}
      </div>
      <div class="blog-comments">
        {{ render_disqus_comments() }}
      </div>
     </div>
   </div>
 <!--=================================-->
  </div>
</section>
{% endblock %}
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>