{% from "macros/contact-form.html" import render_contact_form %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="article:author" content="Dr. Tarique Sani" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>{% block title %}Welcome{% endblock %} — Tarique Sani</title>

<!-- Favicon -->
<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" />

<!-- bootstrap -->
<link href="{{ '/css/bootstrap.min.css' | url }}" rel="stylesheet" type="text/css" />

<!-- google font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic' rel='stylesheet' type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200italic,200,300,300italic,400italic,500,500italic,600,600italic,700italic,900italic,900,800,700,800italic' rel='stylesheet' type="text/css" />

<!-- themify icon -->
<link href="/css/themify-icons.css" rel="stylesheet" type="text/css" />

<!-- font-awesome  -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


<!-- magnific-popup  -->
<link href="/css/magnific-popup.css" rel="stylesheet" type="text/css" />
 
<!-- main style -->
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<!-- responsive -->
<link href="/css/responsive.css" rel="stylesheet" type="text/css" />

<!-- ShareThis js -->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "44cf95bb-b309-44df-b198-55070bcbc7e0", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<!-- ShareThis js ends-->

<meta property="og:url"                content="{% block og_url%}http://tariquesani.net/{% endblock %}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{% block og_title%}Tarique Sani - Welcome{% endblock %}" />
<meta property="og:description"        content="{% block og_description%}Pediatrician and a Forensic Expert. A passionate PHP geek. Currently CTO, SANIsoft. Also a cyclist,  photographer, bird watcher, nature lover and a FOSS enthusiast.{% endblock %}" />
<meta property="og:image"              content="{% block og_image%}http://tariquesani.net/images/my-photo.jpg{% endblock %}" />

</head>

<body>

<!--=================================
  header -->
 
 <header class="header">
  <nav id="menu" class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{'/'|url}}"><img id="logo_img" src="/images/tariquesani_logo.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul id="navbar" class="nav navbar-nav navbar-right">
          <li><a href="{{'/'|url}}">Home</a></li>
          {% for path, label in bag('main-nav').iteritems() %}
          <li{% if this.is_child_of(path) %} class="active"{% endif%}>
            <a href="{{ path|url }}">{{ label }}</a>
          </li>
          {% endfor %}
          <li><a href="#contact" class="page-scroll">Contact</a></li>
          <li>
              <form role="search" method="get" class="search-form" action="http://tariquesani.net/blog/search/">
              <div class="form-group">                  
                  <input type="search" value="" name="q" class="form-control" style="background-color: transparent; color: #fff;" placeholder="Search">
              </div>
              </form>
        </li>
      </ul>
   </div>
</nav>
</header>

<!--=================================
  header -->


<!--=================================
  intro -->
 {% block intro %}
  <div class="page-header bg gradient-01">
      <div class="container-fluid">
      <div class="row">
        <div class="top-bar clearfix">
          <div class="back-home pull-left">
            <a href="{{'/'| url }}"><span class="ti-angle-left"></span> back to home</a>
          </div>
          <ul class="breadcrumb pull-right">
            <li><a href="{{'/'| url }}"><span class="ti-home"></span> Home</a></li>
            <li class="active">Blog</li>        
          </ul>
        </div>
        <div class="page-header-title">
           <h1>Blog: Refreshed</h1>
           <span>Tarique Sani's Blog</span>
        </div>
       </div>
    </div>
  </div>
 {% endblock%} 
<!--=================================
  intro --> 

  
<!--=================================
  blog --> 

{% block body %}{% endblock %}
  
<!--=================================
  blog --> 

  
<!--=================================
 contact --> 
<section class="google-map white-bg">
{{ render_contact_form()}}
 </div>
</section>
<!--=================================
 contact -->

<!--=================================
 footer -->
 
  <div class="col-lg-12 col-md-12 text-center footer">
      Created using <a href="https://getlektor.com" target="_blank" >Lektor</a> - the static CMS!
  </div>
 

<!--=================================
 footer -->

  
<!--=================================
 javascript -->

 
<!-- Google Analytics --> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-109947-1', 'auto');
  ga('send', 'pageview');

</script> 

<!-- recaptcha --> 
 <script src='https://www.google.com/recaptcha/api.js'></script>

 <!-- disqus count --> 
<script id="dsq-count-scr" src="//tariquesani.disqus.com/count.js" async></script>
 
<!-- jquery -->
<script type="text/javascript" src="/js/jquery.min.js"></script>

<!-- modernizr -->
<script type="text/javascript" src="/js/modernizr.min.js"></script>

<!-- Plugins -->
<script type="text/javascript" src='/js/plugins.js'></script>

<!-- custom -->
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript">
  jQuery(document).on( 'ready', function(){
    jQuery("#sidebararchives").load("{{ '/sidebar_archive/index.html'|url }}");
  });
</script>
  
</body>
</html> 